.sidebar {
	position: fixed;
	top: 100px;
}

.folder-highlight {
	background-color: #add8e6;
}

.add-folder-button {
	margin: 10px;
}

.folder-display {
	margin: 10px 20px;
	margin-bottom: 20px;
}

.folder {
	margin-bottom: 40px; 
}

.folder-highlightfolder {
	margin-bottom: 40px;
}